<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airspace for {{.GridRef}} ({{.Lat}},{{.Lon}}), Elevation≅{{.Height}}</title>
    <table class="airspace">
    <tr> <th>Name</th>  <th>Type</th> <th>Class</th> <th>Height</th> <th>Clearance</th>  <th>Danger</th> </tr>
    {{range .Airspace}}
        <tr> <td>{{.Name}} - {{.ID}}</td>  <td>{{.Type}}</td> <td>{{.Class}}</td>  <td>{{.Lower}} - {{.Upper}}</td> <td>{{.ClearanceRequired}}</td>  <td>{{.Danger}}</td> </tr>
        <!-- {{json .Circle}} -->
        <!-- {{json .Polygon}} -->
    {{end}}
    </table>
</head>
<body>

</body>
</html>