<!DOCTYPE html>
{{ $latLon := printf "%.6f,%.6f" .Lat .Lon -}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/paraguide.css" />
    <link href="https://unpkg.com/purecss@2.0.3/build/tables-min.css" type="text/css" rel="stylesheet" />

    <title>Airspace for {{.GridRef}} ({{$latLon}}), Elevation≅{{.Height}}</title>

</head>
<body class="loc-info">
    <h1>Airspace</h1>

    <p class="loc-info">
    <b>OS Grid Ref:</b>    <a href="https://osmaps.ordnancesurvey.co.uk/{{$latLon}},14">{{.GridRef}}</a>
       <span class="small">(<a href="https://www.google.com/maps/place/{{$latLon}}">{{$latLon}}</a>)</span>
    </p>
    <p class="loc-info">
    <b>Elevation:</b> {{.Height}}m, {{printf "%.0f" (toFeet .Height)}}ft
    </p>

    {{ if .Airspace }}
        <!-- {{ json .Airspace }} -->
        <table class="loc-info airspace pure-table pure-table-striped">
        <tr> <th>Name</th>  <th>Type</th> <th>Class</th> <th>Height</th> <th>Clearance</th>  <th>Danger</th> </tr>
        {{range .Airspace}}
            <tr>
                <td><a href="#" onclick="showAirspace('{{.ID}}')">{{.Name}}</a></td>
                <td>{{.Type}}</td>
                <td>{{.Class}}</td>
                <td>{{.Lower}} - {{.Upper}}</td>
                <td>{{yn .ClearanceRequired}}</td>
                <td>{{yn .Danger}}</td>
            </tr>
            <!-- {{json .Circle}} -->
            <!-- {{json .Polygon}} -->
        {{end}}
        </table>
    {{else}}
        <p class="loc-info">No airspace information found for this location.</p>
    {{end}}

</body>
</html>